{% extends "base.html" %} 

{% load static %}
{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="container">
        <h1>Minhas Credenciais</h1>
        
        {% if credentials %}
            <table>
                <thead>
                    <tr>
                        <th>Sistema</th>
                        <th>Módulo</th>
                        <th>Login</th>
                        <th>Senha</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for credential in credentials %}
                        <tr>
                            <td>{{ credential.system }}</td>
                            <td>{{ credential.module }}</td>
                            <td>{{ credential.login }}</td>
                            <td>{{ credential.get_decrypted_password }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="no-credentials">Você ainda não tem credenciais cadastradas.</p>
        {% endif %}
        
        <!-- Botão de cadastro de nova senha -->        
        <a href="#" onclick="toggleModal(true)">
            <i class="fas fa-key btn-register"> Nova Senha</i>
        </a>
       
    </div>

    <!--Modal-->
    <div id="passwordModal" class="modal">
        <div class="modal-content">
            <span class="close-modal" onclick="toggleModal(false)">&times;</span>
            <h1>Cadastrar Senha</h1>
            <form method="post" action="{% url 'register_password' %}">
                {% csrf_token %}
                <label for="system">Sistema:</label>
                <input type="text" id="system" name="system" required>

                <label for="module">Módulo:</label>
                <input type="text" id="module" name="module" required>

                <label for="login">Login:</label>
                <input type="text" id="login" name="login" required>

                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>




    <script>
        function toggleModal(show) {
            const modal = document.getElementById('passwordModal');
            modal.style.display = show ? 'flex' : 'none';
        }
    </script>
{% endblock %}